/* Start Main Ruels */
body {
  background-color: #EEE;
  padding-bottom: 64px;
}
/* End Main Rules */
/* Start Navbar */
.navbar-collapse {
  justify-content: flex-end;
}
/* End Navbar */
/* Start Footer */
.footer {
  background-color: #333;
  color: #EEE;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* End Footer */
/* Start Posts */
.main-post {
  padding: 15px;
  background-color: #FFF;
  border: 1px solid #d8d8d8;
  margin-bottom: 30px;
}
.main-post h3 {
  margin: 0 0 10px;
  font-weight: bold;
  color: #777;
  letter-spacing: -1px;
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comments {
  font-size: 12px;
}
.main-post img {
  display: block;
  margin: 10px 0 10px;
}
.main-post .post-content {
  line-height: 1.7;
  color: #888;
}
.main-post i {
  color: #999;
}
.post-pagination {
  margin: 0 auto 30px;
  overflow: hidden;
  text-align: center;
  padding: 0;
}
.post-pagination a,
.post-pagination span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}
.post-pagination a:first-child,
.post-pagination span:first-child {
  float:left;
  margin-left: 15px;
}
.post-pagination a:last-child,
.post-pagination span:last-child {
  float:right;
  margin-right: 15px;
}
.post-pagination span {
  opacity: .5;
  cursor: not-allowed;
}
.post-pagination .fa-chevron-left {
  margin-right: 10px;
}
.post-pagination .fa-chevron-right {
  margin-left: 10px;
}
.post-pagination a:hover {
  background-color:  #333;
  color: #FFF;
  text-decoration: none;
}
/* End Posts */